{% extends 'base.html' %}


{% block title %}
Beaches
{% endblock title %}


{% block body %}

<font face="ariel" color="Black" size=5><h1 style="background-color:DodgerBlue;"><marquee direction="right">Beaches To Visit In Maharashtra</font></marquee></h1>

<br>
<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/1.jpg">
    <img src="/static/beaches/1.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
    <b style="background-color:cornflowerblue;">1. Ganapatipule Beach</b><br><br>
    <h6 align="center">Ganapatipule is not like other popular beaches of Maharashtra, which are crowded and polluted! Instead, it is aesthetic and scenic and regarded as one of the best beaches in Maharashtra and is surrounded by natural splendors like sparkling blue waters, swaying palms, pristine air, white sands, mangroves and coconut palms. Located along the Konkan coast, the Ganapatipule Beach is an idyllic getaway for many tourists who want to experience peace and tranquility through the far stretch of blue Arabian Sea and the white sands. </h6>
    <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
    <h6>The temple of Swayambhu (self-originated) Ganesh is one of the popular attractions in and around Ganpatipule Beach, which is visited by a lot of tourists every day to pay respect to this great deity. Apart from this, there are various restaurants offering local preparations like Ambapoli (thin pancakes of crushed and dried mango), Phanspoli (thin pancakes of dried and crushed Jackfruit), fish curries, and the Kokam Kadi. The travelers can also visit Malgund village, birthplace of the famous Marathi poet ‘Keshavsut’, to witness the beauty of Shastri River, which has its own peaceful and coconut-fringed beach.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>



<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/2.jpg">
    <img src="/static/beaches/2.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">2. Dahanu-Bordi Beach</b><br><br>
        <h6>Dahanu-Bordi Beach tretches along the coastal line of Thane, which is a 145 km drive from Mumbai, famous for Chikoo orchards, available in huge numbers. To reach this beautiful beach destination, one needs to travel across Sahyadri Mountain range and touch the shores of the Arabian Sea lined with orchards and flower gardens. The Bordi Beach is half an hour drive from Dhanu, which too is marked with the presence of Casurina trees, coconut groves, and Chikoo Orchards. </h6>
        <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
        <h6>For someone interested in water adventure, Dahanu-Bordi Beach is a perfect destination that offers sports activities like gliding, trekking, kite flying, etc. Tourists can experience trekking on nearby hills like Mahalaxmi, Asherigad, Bahrot, and Kahoj and enjoy the view of Dahanu-Bordi from some height. Other than this, you can also visit the historical Bahrot Cave, which is mainly a pilgrim center of the Zoroastrians and Udwada that contains a thousand year old, still burning, sacred fire.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/3.jpg">
    <img src="/static/beaches/3.jpg"  alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">3. Juhu Beach</b><br><br>
        <h6>Located in the ‘Dream city of India’ Mumbai… Juhu is one of the most popular and posh beaches of Maharashtra, famous for the eatables like bhelpuri (Indian snacks) and chat available at the food stalls surrounding the beach. A lot of Bollywood celebrities live nearby this beautiful beach and are often seen walking down the seashore. Juhu beach is one of the most crowded beaches in Maharashtra and offers everything from horse ride and donkey ride to some typical Mumbai snacks and allow tourists to play cricket matches and watch film shoot, which often takes place here. It is located  in the north of Versova, which is Mumbai’s largest Koli (fishing community). Revamped with beautiful bungalows, luxurious hotels and apartments, Juhu looks like a diamond necklace at night when the lights are turned on.</h6>
        <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
        <h6>Juhu is lined with luxurious hotels and restaurants and if you want to satisfy your taste buds with Italian food, then Little Italy, Mangi Ferra, Don Giovanni, and Penne are some good Italian restaurants available here. One can also visit pubs and discotheques that are available in good number near Juhu Beach. Apart from this, Gandhi Gram is one place on Juhu Beach, where children gather to enjoy their summer vacations playing sports like basketball, cricket and football.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/4.jpg">
    <img src="/static/beaches/4.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">4. Shriwardhan Harihareshwar</b><br><br>
        <h6>Etched along the Konkan border in Maharashtra, the Shriwardhan Harihareshwar Beach is known for its serene and quaint atmosphere, perfect for a peaceful beach holiday. The serene town of Harihareshwar is marked with gentle winds, soft sandy beaches, unspoiled stretches of seashore, and rich landmarks of Maratha Kingdom that still remain beautiful. This is the perfect place for people who likes to indulge in relaxing activities like sun basking, sun bathing, beach walking, yoga, and meditation.</h6>
        <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
        <h6>Shriwardhan Harihareshwar Beach is sited with plenty of restaurants that offer delicacies including freshly caught crabs, lobsters, and other seafood, and fusion of Konkani & Maharashtrian cuisine. It also provides boat-riding experience to the travelers to help them spot the beautiful land where Peshwas, or prime ministers of the Maratha Kingdom used to live. Some must-visit places here are Peshwa Smarak and the famous temple of Harihareshwar.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/5.jpg">
    <img src="/static/beaches/5.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">5. Mandwa and Kihim Beach</b><br><br>
        <h6>For someone looking for a tranquil place to spend some time away from the hustle and bustle of the city, Mandwa and Kihim Beach is the perfect spot. Located a mere 10 km away from Mumbai, these lovely beaches are covered with dense coconut trees, wild flowers, butterflies and birds, which makes it even more appealing for the nature lovers to spend some good time here. The pollution free green environment of this beach attracts tourists from every corner of the country and allows them to enjoy a long breathtaking view of the sea and the Gateway of India. </h6>
        <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
        <h6>Surrounded by beautiful groves of coconut palms, the tranquil Mandwa village lies just next to the beaches, where the visitors spend time witnessing the unique lifestyle of people in the village. A tent holiday at Kihim is another attraction that makes Mandwa and Kihim beach one of the popular beaches in Mumbai. You must also visit the Kolaba Fort, Chaul, an historic place that has remains from Portuguese days, Buddhist Caves, the Hamam Khana, a church, a temple and a synagogue that surrounds the Mandwa and Kihim Beaches</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/beaches/6.jpg">
    <img src="/static/beaches/6.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">6. Madh Island Beach</b><br><br>
        <h6>Are you planning to visit Mumbai? If yes, then make Madh Island Beach your must-visit destination. The beautiful Madh Island is a rural place, but it is quite enjoyable to walk along the villages that belongs to the fishermen. Unlike many beaches of Mumbai, this is one of the cleanest as it is surrounded by mangroves, which adds to its scenic beauty. People from different parts of the city visit this enchanting place to take a break from the crowded city life. This lovely beach is enclosed by a cluster of little villages and farmlands situated on the North-Western coast of Mumbai, opening several options for hotels, restaurants, and spas. </h6>
        <h6 style="color: chocolate;">Popular attractions in and around the beach:</h6>
        <h6>‘Erangal’ village on Madh Island Beach is a popular tourist attraction that gives a view of the farming community to the visitors. The ‘Madh Fort’, also known as ‘Versova Fort’, built by the Portuguese is another place near the beach that attract tourists in big numbers. Lastly, the ‘St. Bonaventure’, an ancient church built again by the Portuguese, is one more attraction that surrounds Madh Island Beach in Mumbai.</h6>
    </div>
</div>
<br><br>
{% endblock body %}