{% extends 'base.html' %}


{% block title %}
Forts
{% endblock title %}


{% block body %}

<font face="ariel" color="Black" size=5><h1 style="background-color:DodgerBlue;"><marquee direction="right">Forts To Visit In Maharashtra</font></marquee></h1>

<br>
<div class="gallery" align="center">
    <a target="_blank" href="/static/fort1.jpg">
    <img src="/static/fort1.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
    <b style="background-color:cornflowerblue;">1: Sindhudurg Fort</b><br><br>
    <h6 align="center">Located near the coastal town of Malvan, this is one of the most famous sea forts in Maharashtra. Sindhudurg Fort was built by Chhatrapati Shivaji Maharaj to protect his shores from foreign invaders. Spread over 48 acres with walls that stand up to 30 feet high, this impressive fort provides breathtaking views of the Arabian Sea. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>



<div class="gallery" align="center">
    <a target="_blank" href="/static/fort2.jpg">
    <img src="/static/fort2.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">2: Raigad Fort</b><br><br>
        <h6>Perched in the Sahyadri Mountains, Raigad Fort was once the capital of the Maratha Empire, and where Shivaji was crowned its ruler. It’s a popular spot for trekking and, being more than 2,500 ft above sea level, affords spectacular views once you’ve made the 90 minute trek to the top. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/fort3.jpg">
    <img src="/static/fort3.jpg"  alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">3: Daulatabad Fort</b><br><br>
        <h6>About 15 km from Aurangabad, Daulatabad or Devagiri Fort was one of Medieval India’s most powerful forts. It changed hands a number of times, passing from the Yadavas of Devagiri to the Khiljis, from Muhammad-bin-Tughluq to the Mughals (who took four months to conquer it!). Later, it briefly came under Maratha control until it was finally placed under the Nizams of Hyderabad, who held it from 1724 AD to independence.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/fort4.jpg">
    <img src="/static/fort4.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">4: Pratapgad Fort</b><br><br>
        <h6>Not far from Mahabaleshwar, Pratapgad or Valour Fort is a popular spot for tourists. Commissioned by Shivaji, if you visit today, you’ll see a tall statue of the ruler astride a horse, which was unveiled by then Prime Minister Jawaharlal Nehru in 1957. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/fort5.jpg">
    <img src="/static/fort5.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">5: Murud-Janjira Fort</b><br><br>
        <h6>This sea fort is located on an island off the coast of Murud, a village about five hours from both Mumbai and Pune. The only way to approach it is by boat, but the trip is worth it for the architectural wonders waiting within. Once considered one of India’s strongest marine forts, it remained unconquered for hundreds of years, lasting through onslaughts by great military leaders such as the Peshwas and Shivaji. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/fort6.jpg">
    <img src="/static/fort6.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">6: Kolaba Fort</b><br><br>
        <h6>Located in Alibag, just a ferry ride away from Mumbai, Kolaba Fort is over 300 years old. While you can walk to the fort during low tide, during high tide it’s surrounded by the waters of the Arabian Sea, and can be reached by boat. Strategically located to attack British naval ships in the 1700s, the fort is a testament to the incredible engineering of our forefathers. </h6>
    </div>
</div>
<br><br>
{% endblock body %}