{% extends 'base.html' %}


{% block title %}
Hot Water Springs
{% endblock title %}


{% block body %}

<font face="ariel" color="Black" size=5><h1 style="background-color:DodgerBlue;"><marquee direction="right">Hot Water Springs To Visit In Maharashtra</font></marquee></h1>

<br>
<div class="gallery" align="center">
    <a target="_blank" href="/static/springs/1.jpg">
    <img src="/static/springs/1.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
    <b style="background-color:cornflowerblue;">1: Vajreshwari</b><br><br>
    <h6 align="center">The town here was originally called Vadvali, though now the Goddess Vajreshwari has had her name adopted for the town. Her name literally means "the  lady of the Vajra (thunderbolt)". The original temple of Vajreshwari was at Gunj - five miles north of Vadavli. It was moved to Vadvali after it's destruction by the Portuguese.<br><br>

    Vajreshwari is at the foot of Mandakini Mountain, which was formed out of a volcanic eruption and it is this proximity that accounts for the many hot springs in this region. There exist several hot springs here.<br><br>

    There are even more hot springs further afield. It is reported that there are around twenty-one hot water springs, just within a five-kilometer radius of the temple. The Tansa river flows through here, rich with its hot waters. The hot springs stretch for about 7 km in the bed of this river, the most well known ones being located here and at the nearby villages of Akloli, Ganeshpuri and Satvalli. The temperature of the water in the springs ranges from 43 C to 49 C. Into most of the springs the locals will jump at once, though there are one or two very hot ones which they do not enter, until first they have bathed in the cooler springs.<br><br>

    A couple of tanks in front of a Shiva temple trap the water of seven of the hot water springs. Because the waters are laden with minerals, the water appears blackish. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>



<div class="gallery" align="center">
    <a target="_blank" href="/static/springs/2.jpg">
    <img src="/static/springs/2.jpg" alt="pic2" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">2: Akloli Kund</b><br><br>
        <h6>From Vajeshwari one can walk easily to Akloli village, about a kilometre ahead. The springs there are in a wide pleasant valley, clustered round a temple of Rameshwar. Therefore they are called the Rameshwar hot springs. The waters have been gathered into cut-stone cisterns.<br><br>
        
        Back in 1784 it is written that they were much used both by the locals and by the Europeans. In a report of 1786 it was claimed that, except for its lack in a small element of iron, the water tasted the same as the water of the springs at Bath in England.<br><br>
            
        The hot springs at Akloli are located on the left bank of the Tansi river. Ten hot springs are found here and a concrete tank is located at each hot spring. The hot water temperature of the individual springs varies from 45°C to 48°C. There are provisions for hot showers too. The water of the Surya tank is the hottest.<br><br>
            
        A little to the north-east of the temple, in a pretty spot on the river bank, is the nameless tomb of a European officer, who died there in times long past. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/springs/3.jpg">
    <img src="/static/springs/3.jpg"  alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">3: Ganeshpuri</b><br><br>
        <h6>Ganeshpuri is about 2 km away from Vajreshwari and is also famous for its natural hot springs.
        
        Three of the springs are in the bed of the Tansa river, near the temple of Shri Bhimeshvar and they have reservoirs built round them. One of them is called Gorakh Machhindar. Two of the hot springs are in natural hollows in the rock. These springs are usually less crowded than the ones at Vajreshwari. In Ganeshpuri village just behind the main temple is a small Shiva shrine with tanks in front that hold the water of some of the hot-water springs. The hot water is 52°C. Agni Kund is another hot water spring near the village. The quaint little town revolves around the Nityananda Mandir, built to honour the Saint Nityananda who took Samadhi here, in the 1960s. The temple and its surroundings are still serene, and one can sit peacefully without being harassed.<br><br>
        
        Nityananda used to bathe in the hot springs every morning, and would go to an island in the middle of the river to meditate. He moved to Ganeshpuri from Vajeshwari in 1936. Nityananda meditated on this island every morning, and there are some hot springs that bubble up in circular holes melted out of the black volcanic rock there.<br><br>
        
        Ganeshpuri was a wilderness then, surrounded by hills. It was believed that cannibal tribes of jungle folk lived in the region. Nityananda selected a location with many hot springs around it near the ancient temple of Bhimeshwar Mahadev, and for the next twenty five years, he lived there and built it into a spiritual centre.<br><br>
        
        According to mythology, the hot springs are the gifts of the sage Vashishta, who created them by divine power for the use of the many sages who used to perform Yajna here. Nityananda dug the hot spring tanks and impressed upon his devotees that the hot springs were very sacred. Some of his devotees claim to have had magical personal experiences with these hot springs.<br><br>
        
        Nityananda called the hot springs "Kotitheerthas" and told the devotees coming to Ganeshpuri to bathe in them.</h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/springs/4.jpg">
    <img src="/static/springs/4.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">4: Nimboli</b><br><br>
        <h6>In the bed of the Tansa river, near the village of Nimboli, are six hot springs, two at a distance of about 175 paces, in stone tanks, and the remaining four springs at a distance of about 200 paces. The water is moderately hot and of a sulphurous smell.<br><br>
        
        Nimboli is 5 klms from Ganeshpuri. Ask the autowalas to take you to ‘Rakhadi Baba’s homagund’. Near Rakadi Baba’s homagund, there is the ancient Anasuya Mata temple and the hot springs. Rakhadi Baba was a holy man who was always smeared in ashes from head to toe. He addressed everyone, even each and every creature of the jungle, as 'Shiva'. Now he has disappeared off into the Himmalayas but his fire remains. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/springs/5.jpg">
    <img src="/static/springs/5.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">5: Shahapur Kund</b><br><br>
        <h6>At Shahapur there is a holy spring of hot water under a pipal tree. It is called Ganga.Shahapur.<br><br>
        
        Since Shahapur supplies almost the entire drinking water to Mumbai, this town has been declared a No Chemical Zone. </h6>
    </div>
</div><br>
<br>


{% endblock body %}