{% extends 'base.html' %}


{% block title %}
museums
{% endblock title %}


{% block body %}

<font face="ariel" color="Black" size=5><h1 style="background-color:DodgerBlue;"><marquee direction="right">Museums To Visit In Maharashtra</font></marquee></h1>

<br>
<div class="gallery" align="center">
    <a target="_blank" href="/static/museums/1.jpg">
    <img src="/static/museums/1.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
    <b style="background-color:cornflowerblue;">1: Town Hall Museum Kolhapur</b><br><br>
    <h6 align="center">Hop, jump and skip away from Chhatrapati Pramilaraje Rugnalaya (cities civil hospital) stands the iconic Town Hall museum. Due to museum's magnificent building, which was built by Major C. Mant, a British engineer, it is easily visible to tourist. The museum came into existence when Dr. H. D. Sankalia and Dr. M. G. Dikshit from Pune carried out the excavations on a hillock called Brahmapuri. When both of them started the unearthing process, they came across relics; however wasn't able to find a place to store them due to lack of space. That's how the museum came into existence.<br><br>

    Presently, the museum is classified into seven precise sections, namely portraits, paintings, archaeological, sculpture, metal, weapons, and miscellaneous. In the museum, one can find two impressive 18th-century cannons, ivory and sandalwood made idols, dices, decorative pots, terracotta musical instruments dating back to 1888; and paintings of Kala Maharshi Baburao Painter.<br><br>
        
    Here one can find one section dedicated to metal artifacts, which features the 11th-century CE brass idols of Vishnu and Mahalakshmi, and copper-plate inscriptions. Moreover, there is one section that focuses on findings of the Brahmapuri excavation, which is mainly famous for its bronze idol of the Greek god Poseidon. For history lovers, this museum is a must visit. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>



<div class="gallery" align="center">
    <a target="_blank" href="/static/museums/2.jpg">
    <img src="/static/museums/2.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">2: Chhatrapati Shivaji Maharaj Vastu Museum Mumbai</b><br><br>
        <h6>Formerly known as the Prince of Wales Museum, Chhatrapati Shivaji Maharaj Vastu Sangrahalaya (CSMVS) is must visit for all the history lovers. The cornerstone of the museum was laid by the Prince of Wales when he visited the city in 1905. During World War I, the museum served as the military hospital. Later in 1923, it was formally inaugurated by Lady Llyod, wife of Governer General Llyod. The museum, now renamed Chhatrapati Shivaji Maharaj Vastu Sangrahalaya has galleries spread over three floors, which displays more than 50,000 exhibits: Indus Valley Civilization artifacts, and other relics from the time of the Guptas, Mauryas, Chalukyas, and Rashtrakuta. But it's not only the exhibits that capture the attention of tourists the most but the Indo-Saracenic museum building, which was designed by George Witter.<br><br>

        The vast collection of the museum is divided into different galleries: Sculptures, Pre and Proto-History, European Paintings, Natural History, Miniature Paintings, Jehangir Nicholson Collection, Chinese and Japanese Antiquities, Numismatics, Textiles, Decorative Art and Prints Gallery. On the ground floor, one can see sculpture, Pre and Proto-History Gallery and Natural History section. The first floor houses miniature paintings, decorative arts, Nepalese and Tibetian art and Premchand and Roychand galleries. The second floor has European paintings, arm, and armors.<br><br>
            
        Jewellery Box of Mughal rulers, Indian miniature painting, terracotta figurines from the Indus Valley, Folios from a set of Ramayana, Coin of Chandragupta II, Snuff bottles, Gandhara sculpture from 3rd century AD, Bronze statue of Maitreya Buddha, and Personal armour of emperor Akbar are amongst the recommended things to see in the museum. For the better understanding of all these galleries, different Kiosks are installed that facilitates complete information about the gallery in two languages: English and Hindi. Even the audio guides in seven different languages are available. Every now and then, the museum hosts seminars, workshops and temporary exhibitions for visitors </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/museums/3.jpg">
    <img src="/static/museums/3.jpg"  alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">3: Central Museum Nagpur</b><br><br>
        <h6>Established in 1862 by Sir Richard Temple, the then chief commissioner of the Nagpur, Central Museum, popularly known as Ajab Bangla, is counted amongst the oldest museums of India. The museum was created by the efforts of Sir Richard Temple, who not only gave his personal collection but also convinced the royal families to donate their rare artifacts as well. Collection in the museum was sourced from Chattisgarh, Vidarbha, Madhya Pradesh and even some parts of Western Maharashtra. Rare antiquities, ancient inscriptions, sculptures, coins, paintings and prehistoric artifacts are amongst the enviable collection of the museum.

        The museum is spread over eleven galleries, each with different themes. But the most visited amongst them is the natural history, which has a rare collection of antlers, reptiles, fish and invertebrates specimen. Other galleries in the museum exhibit the rare collection of arm and armor, which were once used by the Mughals, Marathas and British rulers. Also, there is a tribal gallery, where one can see personal objects used by tribals like boomerangs, tobacco boxes, etc. A special gallery dedicated to the history of Nagpur is also designed in the museum. Here, tourists can see antiquities from the chalcolithic sites of Sarasvati–Indus and Kaundinyapura excavations, megalithic sarcophagus, stone and copper plate inscriptions, coins of different ages, and metals, etc. Along with other galleries, the museum also has a library.</h6>
    </div>
</div><br>
<br>

{% endblock body %}