{% extends 'base.html' %}


{% block title %}
Temples
{% endblock title %}


{% block body %}

<font face="ariel" color="Black" size=5><h1 style="background-color:DodgerBlue;"><marquee direction="right">Temples To Visit In Maharashtra</font></marquee></h1>

<br>
<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/1.jpg">
    <img src="/static/temples/1.jpg" alt="pic1" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
    <b style="background-color:cornflowerblue;">1: Shirdi</b><br><br>
    <h6 align="center">At a distance of 58 km from Manmad, 82 km from Ahmednagar, 90 km from Nashik, 180 km from Pune and 258 km from Mumbai, Shirdi is a small town located in Ahmednagar district of Maharashtra. This is one of the holiest places in India and also one of the popular pilgrimage places you must include in Maharashtra packages. Shirdi, also known as the Land of Sai, is famous for the shrine of Shirdi Sai Baba, which is the main attraction for the devotees who visit this holy shrine. This is also one among the best pilgrimage places to visit near Mumbai.<br><br>

    Sai Baba, who belonged to 20th century, is known as one of the greatest saints of India. Sai Baba visited Shirdi when he was 16 years old and stayed there until his death in 1918. Sai Baba transformed this small village into a holy pilgrimage site for his devotees. Many tales of the renowned Shirdi Sai are associated with this village. His selfless love and dedication to the poor, earned him respect for which he is worshiped even now. Shirdi is the place where he attained his 'Samadhi' or final abode.<br><br>
        
    The Shirdi temple complex covers an area of about 200 square meters. It includes Gurusthan, Samadhi Mandir, Dwarkamai, Chavadi and Lendi Baug. Shirdi Temple is one of the richest temples in India with estimated donations of INR 4 billion per annum. Maruti Temple, Khandoba Mandir, Sai Heritage Village, Shanisinghnapur and Nashik are the other places of attraction situated in and around Shirdi. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>



<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/2.jpg">
    <img src="/static/temples/2.jpg" alt="pic2" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">2: Nashik</b><br><br>
        <h6>At a distance of 90 km from Shirdi, 180 km from Aurangabad, 182 km from Mumbai, 211 km from Pune and 234 km from Surat, Nashik or Nasik is a religious city located in the northwest region of Maharashtra in India, and is the administrative headquarter of the Nashik district. Nashik is the third largest city by population in Maharashtra and also one of the popular pilgrimage Places to visit in Maharashtra. Nashik is among the famous tourist places near Mumbai, which can be visited along with your Shirdi Trip.<br><br>

        Situated at an altitude of 700 m, Nasik has been called the Wine Capital of India and is situated on the banks of River Godavari. According to legend, Lord Rama, along with his wife Sita and brother Lakshmana stayed here for a while during their 14 year exile. It is believed that the name Nashik comes from the episode of the Ramayana where Lakshmana hacked off the nasika (nose) of Shurpanaka, Ravana's sister. Alternatively, the city has also preserved a tradition of a proverb in Marathi which states that it was settled on nine peaks.<br><br>
            
        Nashik has been the center of commerce and trade in India since historical past. Nashik became very prosperous during the era of the Satavahanas as it lay on the trade route to Broach (Gujarat). The city was under the ruling of Mughals in 16th century and was renamed Gulshanabad. It is also famous for its contribution in struggle of independence of India. This is the birth place of known independence fighters like Veer Savarkar and Anant Laxman Kanhere.<br><br>
            
        Nashik is famous for its numerous temples constructed during the reigns of different rulers. These include the magnificent ones at Sinnar, Anjaneri, Trimbakeshwar and those in the city itself. Panchavati, Someshwar, Ram Kund, Muktidham Temple, Coin Museum, Pandavleni Caves are some of the important tourist sites of Nashik. Apart from its religious importance, Nashik has numerous vineyards that dot the countryside and is known as the wine capital of India. Some of the vineyards allow tours and provide courses on grape cultivation and identification of different wines and how to savor them.<br><br>
            
        Kumbha Mela, the largest religious gathering held once in every 12 years, is one of the most important festivals celebrated in Nasik. Large number of pilgrims, sadhus and holy men attend this magnificent fair and take bath in the holy river Godavari. Ramnavami Rath Yatra is another famous festival celebrated with great pomp and fervor in Nashik.<br><br>
            
        Mumbai Airport is the nearest airport which is about 167 km from Nashik. Nashik Road Railway Station is well connected by train with all major towns and cities in India, including Mumbai, Delhi, Kolkata, Chennai, Hyderabad and Bangalore. Nashik Central Bus Station at Thakkar Bazar is well connected by bus with Indore, Pune, Aurangabad, Shirdi, Mumbai, Nanded, Nagpur, Akola, Hyderabad, Latur, Satara, Kolhapur, Ratnagiri, Ahmednagar, Ahmedabad, Solapur, Surat, Ahmadabad, Vadodara, etc.<br><br>
            
        The best time to visit Nashik is from October to March while the peak season is from November to February.
            
             </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/3.jpg">
    <img src="/static/temples/3.jpg"  alt="pic3" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">3: Shani Shingnapur (Near Shirdi)</b><br><br>
        <h6>At a distance of 72 km from Shirdi and 44 km from Ahmednagar, Shani Shingnapur or Sonai is a village in Nevasa taluka of Ahmednagar district in Maharashtra. The village is known for its popular temple of Shani Mahadev, the Hindu god associated with the planet (graha) Saturn. This is one of the most popular Shani temples in India and also among the famous pilgrimage places to visit near Pune.<br><br>

        <h6>At a distance of 72 km from Shirdi and 44 km from Ahmednagar, Shani Shingnapur or Sonai is a village in Nevasa taluka of Ahmednagar district in Maharashtra. The village is known for its popular temple of Shani Mahadev, the Hindu god associated with the planet (graha) Saturn. This is one of the most popular Shani temples in India and also among the famous pilgrimage places to visit near Pune.<br><br>
            
        <h6>At a distance of 72 km from Shirdi and 44 km from Ahmednagar, Shani Shingnapur or Sonai is a village in Nevasa taluka of Ahmednagar district in Maharashtra. The village is known for its popular temple of Shani Mahadev, the Hindu god associated with the planet (graha) Saturn. This is one of the most popular Shani temples in India and also among the famous pilgrimage places to visit near Pune.<br><br>

        The idol of Lord Shanidev at the Shingnapur temple is swayambhu and the temple is believed to be a jagrut devasthan, meaning that a deity still resides in the temple. The idol is personified in the form of a black stone which is five and a half feet high installed on an open air platform. There is a trishul alongside the stone as well as a Nandi on its south. In front are the small images of Shiva and Hanuman. An east facing multi deity temple was built west of the Shani idol later. The premises also contain a tomb of Saint Udasi Baba and a temple dedicated to Dattatreya.<br><br>
            
        The entire village around the Shani Shingnapur Temple has no doors to the houses. The villagers believe that god Shani punishes anyone attempting theft. According to the legend, about 150 years ago, a huge black slab came floating on the water, which was noticed by the local shepherds after the water drained away. When one of them touched it with a pointed rod, blood started oozing from it. That night, Shaneshwara appeared in the dream of the devoted shepherds and stated that he wished to stay in the village in the same form without a roof above him. In return, he promised that there would never be any fear of theft in the village.<br><br>
            
        No theft or robbery was reported until 2010 when first theft was reported and again another one was reported in 2011. Some who have tried to steal have died vomiting blood within minutes of their act and before they could cross the boundary. Many others are said to have received varied punishments such as long sickness, mental imbalance etc.<br><br>
            
        The Shani temple is visited by thousands of devotees each day, which Saturday is the busiest day. Shani Trayodasi is considered to be a favorite day for the lord. Similarly Saturday falling on Amavasya is considered to be a favorite day for Lord Shanaishwara and devotees in large numbers throng to temple. Devotees are allowed to enter the temple premises after taking a bath. Prayers are offered by the devotees in traditional dhotis at the Shani Shingnapur Temple.
            </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/4.jpg">
    <img src="/static/temples/4.jpg" alt="pic4" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">4: Trimbakeshwar / Tryambakeswar</b><br><br>
        <h6>The temple is built of black stone in the Nagara style of architecture and is enclosed in a spacious courtyard. The sanctum internally a square and externally a stellar structure houses a small Shivlingam - Tryambaka. The sanctum is crowned with a graceful tower, embellished with a giant Amalaka and a golden kalasha. In front of the garbagriha and the antarala is a mandap with doors on all four sides. The entire structure is ornamented with sculptural work featuring running scrolls, floral designs, and figures of gods, yakshas, humans and animals. The Shivlingam is seen in a depression on the floor of the sanctum. Water constantly oozes out from the top of the Shivalingam.<br><br>

        Kushavarta, a sacred pond in the temple premises is the source of the Godavari River, the longest river in peninsular India. As per legends, Trimbakeshwar was the place of 'Tri-Sandhya Gayatri' where Lord Ganesh was born. It is also believed that Trimbakeshwar was the abode of the revered sage Gautama. Gautama in order to get relieved of the sin of gohatya worshipped Lord Shiva at Brahmagiri Mountain for the down-flow of River Ganges. The wish was granted and Goddess Ganges took the form of River Godavari and originated from Kushavarta of Brahmagiri Mountain. This says that anybody who visits Trimbakeshwar attains salvation.<br><br>
            
        Gangadwar, Brahmagiri, Caves of 108 Shivalingams, Parashuram temple, Bilwa Tirtha, Gautama Tirtha, Indra Tirtha and Ahilya Sangam Tirtha are some other places which can be visited in Trimbakeshwar. It also has a number of ashrams devoted to Ashtanga Yoga, the Hindu art of living. It is also famous for lots of religious rituals such as Narayan Nagbali, Kalsarpa Shanti, Tripindi Vidhi, etc. Of these, the Narayan Nagbali ritual is performed only at Trimbakeshwar. </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/5.jpg">
    <img src="/static/temples/5.jpg" alt="pic5" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">5: Bhimashankar Temple</b><br><br>
        <h6>It is believed that the original temple of Bhimashankar was built in 12th century CE. However, there is no evidence remains dating to that period have been found. The temple was renovated by Chimaji Antaji Bhide Naik in 1733 CE followed by some repair works by Dikshit Patwardhan in 1766 CE. A well was constructed in the complex by Raghunathrao Peshwa. The famous minister of the Peshwas, Nana Phadnavis carried out a lot of renovations, including the construction of the shikhara.<br><br>

        According to the legend, a demon named Bhima lived with his mother Karkati in the forests of Dakini. Once he asked his mother about his existence and about his father. To this his mother replied that his father's name was Kumbhakarna and he was killed by Lord Rama, an incarnation of Lord Vishnu. This infuriated Bhima and he vowed to avenge his father. To achieve this he embarked on a severe penance to please Lord Brahma. The compassionate creator was pleased by the dedicated devotee and granted him immense powers.<br><br>
            
        He created havoc everywhere disturbing all rishis and sadhus in their pious activities. He defeated King Indra and dethroned him. All this angered all the gods and all went to Lord Shiva for help. Lord Shiva agreed to help them. He also defeated a staunch devotee of Lord Shiva - Kamarupeshwar, and ordered Kamarupeshwar to worship him instead of Lord Shiva. The cruel Bhima raised his sword to strike the Shivlinga, to which king Kamarupeshwar was doing abhishek and pooja. As soon as Bhima raised his sword, Lord Shiva appeared before him in all his magnificence and lusture. The terrible war began. It was then that Lord Shiva reduced the evil demon to ashes. All the Gods requested Lord Shiva to make this place his abode. Lord Shiva thus manifested himself in the form of the Bhimashankar Jyotirlingam. After the battle with the demon, the sweat poured forth from the body of Lord Shiva took the form of Bhima River.<br><br>
             </h6>
    </div>
</div><br>
<hr color="DodgerBlue">
<br>

<div class="gallery" align="center">
    <a target="_blank" href="/static/temples/6.jpg">
    <img src="/static/temples/6.jpg" alt="pic6" width="800" height="400" style="border-style: solid;">
    </a><br><br>
    <div class:"desc">
        <b style="background-color:cornflowerblue;">6: Jejuri</b><br><br>
        <h6>At a distance of 48 km from Pune Junction, Jejuri is a town and municipality situated to the southeast of the Pune city. The town of Jejuri is renowned for one of the most pious temples in Maharashtra known as Khandoba Temple and is one of the popular tourist places in Pune.<br><br>

        Jejuri Khandoba Temple is dedicated to Khandoba, who is also known as Mhalsakant or Malhari Martand in the region. Khandoba is the important god worshipped by Dhangar, the oldest tribes in Maharashtra. It is believed that Khandoba is a god of Sakamabhakti, the god who fulfills all the desires of his devotees. Jejuri is popular for its old Deep Mala.<br><br>
            
        The Khandoba temple in Jejuri is built on a hill and offers good views all around. One has to climb a series of almost 200 steps to reach the sanctum sanctorum. There are various stone images of elephants on either sides of the main gateway of the temple. The entire flat plateau above the hill is surrounded by a stone pavement in the center, of which stands the Khandoba shrine. The whole courtyard is surrounded by arched aisles on sides, from which highly ornate balconies with cypress pillars and cusped arches project out. This enclosure has three gateways and the temple faces east. The outermost portion is an arched portico- consisting of a square mandapa and a garbhagriha.<br><br>
            
        The idol of Sri Khandoba enshrined inside the temple is simply beautiful. There are three weapons housed in Jejuri Temple, a sword, a damaru and a paral. They are very exquisite and also have historical importance attached to them. A Sword Competition is held every year at the temple, on the occasion of Dussera. The one, who lifts the sword of the temple high up, for the maximum time, is declared as the winner. It attracts people from all over the state on the occasion of Bandara festival.
             </h6>
    </div>
</div>
<br><br>
{% endblock body %}